.category-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    &__content {
        text-align: center;
    }
    &__container {
        @extend .mg-t-6;
    }
    .category-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 16px 8px;
        gap: 12px;
        &:not(:last-child) {
            border-bottom: 1px solid $lightGrey;
        }
        & > i {
            font-size: 20px;
            width: 26px;
        }
        p {
            font-size: $fontXS;
            padding-left: 4px;
            font-weight: bold;
            text-transform: capitalize;
        }
        &:hover {
            background-color: $lightGrey;
        }
    }
}
